$brand-primary: #16304b;
$brand-secondary-100: #ebf4fa;
$brand-secondary-200: #cddbdf;
$brand-secondary-300: #5f7881;
$brand-secondary-400: #007db8;

$grayscale-100: #ffffff;
$grayscale-200: #e0e0e0;
$grayscale-300: #c0c0c0;
$grayscale-400: #a0a0a0;
$grayscale-500: #808080;
$grayscale-600: #606060;
$grayscale-700: #404040;
$grayscale-800: #202020;
$grayscale-900: #000000;

$state-info: #3498db;
$state-error: #e74c3c;
$state-warning: #f1c40f;
$state-success: #07bc0c;
