.responsive-width {
  width: min(90%, 72rem);
  margin: auto;
}

.responsive-width-cta {
  width: min(90%, 47rem);
  margin: auto;
}

.responsive-width-apply {
  width: min(90%, 36rem);
  margin: auto;
}

.responsive-width-store {
  width: min(90%, 36rem);
  margin: auto;
}

.responsive-width-jobs {
  width: min(90%, 45rem);
  margin: auto;
  min-height: 70vh;
}

.responsive-width-contact {
  width: min(90%, 37rem);
  margin: auto;
}

.responsive-width-footer {
  width: fit-content;
  margin: auto;
}

.responsive-width-sitemap {
  width: min(90%, 40rem);
  margin: auto;
  min-height: 70vh;
}

.min-height {
  min-height: 70vh;
}
